---
const links = [
    {
        label: "Sobre Nosotros",
        href: "/about",
    },
    {
        label: "GitHub",
        href: "github.com",
    },
    {
        label: "Contacto",
        href: "/contact",
    }
]
---

<nav class="w-full flex items-center h-20 px-12 absolute top-0 justify-center xl:justify-between">
    
    <section class="flex items-center gap-4 xl:gap-6">
        <img 
            class="aspect-square rounded-full object-cover object-center h-8 w-8 xl:w-12 xl:h-12" 
            src="./icon.webp" 
            alt="Icon Edutask"
        >
        <h1 class="text-xl font-bold">EduTask</h1>
    </section>
    
    <section class="space-x-12 hidden xl:block">
        {
            links.map(({href, label}) => (
                <a 
                class="text-lg font-light hover:opacity-70 transition-opacity" 
                href={href}
                >{label}
                </a>
            ))
        }
    </section>

</nav>