---
interface Props {
    label: string
    isPrimary: boolean 
    href: string   
}

const { label, isPrimary, href } = Astro.props
---

<a 
    href={href}
    class:list={[
        "text-lg w-full h-full py-2 rounded-lg hover:opacity-50 transition-opacity text-center", 
        {
            "bg-transparent text-cWhite border-[1px] border-cWhite": !isPrimary,
            "bg-cWhite text-cBlack": isPrimary,
        }
    ]}
    >
    {label}
</a>